<h1>Game Info<h1>

<p>
<table>
  <tr>
    <th>Champion Name</th>
    <th>Champ</th>
    <th>Stats</th>
    <th>Champ</th>

  </tr>
  </br>
  <tr>
    <% champ1_image = "http://opgg-static.akamaized.net/images/lol/champion/"+team_champ1.lol_namekey.to_s+".png" %>
    <td><%= user1 %></td>
    <td><%= get_champ_matchup(team_champ1.lol_namekey, opp_team_champ1.lol_namekey) %></td>
    <td><%= opp_team_champ1.name %></td>
  </tr>
  <tr>
    <td><%= user2 %></td>
    <td><%= team_champ2.name %></td>
    <td><%= get_champ_matchup(team_champ2.lol_namekey, opp_team_champ2.lol_namekey) %></td>
    <td><%= opp_team_champ2.name %></td>
  </tr>
  <tr>
    <td><%= user3 %></td>
    <td><%= team_champ3.name %></td>
    <td><%= get_champ_matchup(team_champ3.lol_namekey, opp_team_champ3.lol_namekey) %></td>
    <td><%= opp_team_champ3.name %></td>
  </tr>
  <tr>
    <td><%= user4 %></td>
    <td><%= team_champ4.name %></td>
    <td><%= get_champ_matchup(team_champ4.lol_namekey, opp_team_champ4.lol_namekey) %></td>
    <td><%= opp_team_champ4.name %></td>
  </tr>
  <tr>
    <td><%= user5 %></td>
    <td><%= team_champ5.name %></td>
    <td><%= get_champ_matchup(team_champ5.lol_namekey, opp_team_champ5.lol_namekey) %></td>
    <td><%= opp_team_champ5.name %></td>
  </tr>
</table>
</p>



<table class="ui very basic collapsing celled table">
  <thead>
    <tr><th>Your Team</th>
    <th>Stats</th>
    <th>Enemy Team</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>
        <% champ1_image = "http://opgg-static.akamaized.net/images/lol/champion/"+team_champ1.lol_namekey.to_s+".png" %>
        <h4 class="ui image header">
          <%= image_tag champ1_image %>
          <div class="content">
            <%= user1 %>
            <div class="sub header"><%= link_to team_champ1.name, team_champ1.op_url %>
          </div>
        </div>
      </h4></td>
      <td>
        <%= get_champ_matchup(team_champ1.lol_namekey, opp_team_champ1.lol_namekey) %>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <% champ2_image = "http://opgg-static.akamaized.net/images/lol/champion/"+team_champ2.lol_namekey.to_s+".png" %>
          <%= image_tag champ2_image %>
          <div class="content">
            <%= user2 %>
          <div class="sub header"><%= link_to team_champ2.name, team_champ2.op_url %>
          </div>
        </div>
      </h4></td>
      <td>
        <%= get_champ_matchup(team_champ2.lol_namekey, opp_team_champ2.lol_namekey) %>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <% champ3_image = "http://opgg-static.akamaized.net/images/lol/champion/"+team_champ3.lol_namekey.to_s+".png" %>
          <%= image_tag champ3_image %>
          <div class="content">
            <%= user3 %>
          <div class="sub header"><%= link_to team_champ3.name, team_champ3.op_url %>
          </div>
        </div>
      </h4></td>
      <td>
        <%= get_champ_matchup(team_champ3.lol_namekey, opp_team_champ3.lol_namekey) %>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <% champ4_image = "http://opgg-static.akamaized.net/images/lol/champion/"+team_champ4.lol_namekey.to_s+".png" %>
          <%= image_tag champ4_image %>
          <div class="content">
            <%= user4 %>
          <div class="sub header"><%= link_to team_champ4.name, team_champ4.op_url %>
          </div>
        </div>
      </h4></td>
      <td>
      <%= get_champ_matchup(team_champ4.lol_namekey, opp_team_champ4.lol_namekey) %>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <% champ5_image = "http://opgg-static.akamaized.net/images/lol/champion/"+team_champ5.lol_namekey.to_s+".png" %>
          <%= image_tag champ5_image %>
          <div class="content">
            <%= user5 %>
          <div class="sub header"><%= link_to team_champ5.name, team_champ5.op_url %>
          </div>
        </div>
      </h4></td>
      <td>
        <%= get_champ_matchup(team_champ5.lol_namekey, opp_team_champ5.lol_namekey) %>
      </td>
    </tr>

  </tbody>
</table>
