<p id="notice"><%= notice %></p>
<h1><%= @property.name %></h1></br>
<p>Description: <%= @property.description %></p></br>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
